@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <form id="searchForm">
            <div class="input-group">
                <input type="text" name="query" id="searchInput" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go!</button>
                </span>
            </div><!-- /input-group -->
        </form>
    </div><!-- /.col-md-6 -->
</div><!-- /.row -->

<div id="searchResults"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#searchForm').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("Search", "Home")',
                    type: 'POST',
                    data: { query: $('#searchInput').val() },
                    success: function (data) {
                        $('#searchResults').empty();
                        $.each(data, function (i, item) {
                            $('#searchResults').append('<div>' + item.title + '</div>');
                        });
                    }
                });
            });
        });
    </script>
}
