@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Search Movies and TV Shows</h1>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form id="searchForm">
            <div class="form-group">
                <label for="query">Search:</label>
                <input type="text" class="form-control" id="query">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<div id="results"></div>

<div id="jsonResponse" style="display: none;"></div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $('#searchForm').submit(function (event) {
                event.preventDefault();
                var query = $('#query').val();
                var requestUrl = `${window.location.origin}/Home/Search?query=${encodeURIComponent(query)}`;
                console.log(requestUrl);
                $.get(requestUrl, function (data) {
                    $('#results').empty();
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        var result = $('<div/>', {
                            class: 'result'
                        }).appendTo('#results');
                        $('<div/>', {
                            text: item.Name,
                            class: 'name'
                        }).appendTo(result);
                        $('<div/>', {
                            text: item.Title,
                            class: 'title'
                        }).appendTo(result);
                        $('<div/>', {
                            text: item.Orig_title,
                            class: 'orig_title'
                        }).appendTo(result);
                    }
                    // Show formatted JSON response
                    $('#jsonResponse').text(JSON.stringify(data, null, 4)).show();
                });
            });
        });
    </script>
}
